.navication{
    margin-right: 100px;
}

.banner-image-text{
    background: url(images/banner.png);
    background-repeat: no-repeat;
    height: 550px;
   color: white;

}
.input-feild{
margin-left: 350px;
}
@media (max-width:688px){ 
    .banner-image-text{
        width: 100%;
        height: 350px;
    
    }
    .input-feild{
    margin-left: 70px;
    }
    .slider-image{
        height: 600px;
    }
    
}